header {
    border-bottom: 2px solid white;
    background-image: url(https://media.istockphoto.com/photos/school-hallway-picture-id603873312?k=6&m=603873312&s=612x612&w=0&h=f3lPkiXFDL3kR02lpB-MdAi-cZ1jl_LX6fvhMNjqn60=);
    background-position: 50% 50%;
    background-size: cover;
    text-shadow: 0px 0px 5px white;
}

header a,
header a:hover {
    color: unset
}

header nav {
    background-color: rgba(0, 0, 0, 0.699);
}

tr.item-row:nth-child(odd) {
    background-color: rgba(128, 128, 128, 0.274);
}

tr.item-row {
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}

tr.item-row:hover {
    transform: scale(1.02);
    background-color: rgba(0, 0, 0, 0.596);
}

td.item-attribut {
    padding: 5px;
    text-align: center;
    white-space: nowrap;
    box-shadow: 0px 0px 5px 3px rgba(114, 255, 236, 0.116) inset;
}

td.item-attribut:nth-child(odd) {
    background-color: rgba(55, 56, 71, 0.274);
}

td.item-attribut:nth-child(even) {
    background-color: rgba(65, 48, 48, 0.274);
}

tr.item-row-header {
    background-color: rgb(230, 230, 230);
    color: black;
    position: sticky;
    top: 0vh;
}

div.tab {
    border: 2px solid white;
    padding: 15px;
}