header {
    border-bottom: 2px solid white;
    background-image: url(../img/couloir.jpg);
    background-position: 50% 50%;
    background-size: cover;
    text-shadow: 0px 0px 5px white;
}

a,
a:hover {
    color: unset;
    cursor: pointer;
    text-decoration: none;
    transition: all ease 0.3s;
    text-shadow: 0px 0px 0px white;
}
a:hover {
    text-shadow: 0px 0px 5px rgb(0, 0, 0);

    color: rgb(162, 255, 250);
}

header nav {
    background-color: rgba(0, 0, 0, 0.445);
}

tr.item-row:nth-child(odd) {
    background-color: rgba(128, 128, 128, 0.274);
}

tr.item-row {
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}

tr.item-row:hover {
    transform: scale(1.02);
    background-color: rgba(0, 0, 0, 0.596);
}

td.item-attribut {
    padding: 5px;
    text-align: center;
    white-space: nowrap;
    box-shadow: 0px 0px 5px 3px rgba(114, 255, 236, 0.116) inset;
}

td.item-attribut:nth-child(odd) {
    background-color: rgba(55, 56, 71, 0.274);
}

td.item-attribut:nth-child(even) {
    background-color: rgba(65, 48, 48, 0.274);
}

tr.item-row-header {
    background-color: rgb(230, 230, 230);
    color: black;
    position: sticky;
    top: 0vh;
}
.tabNav {
    list-style: none;
    padding: 15px;
}
a.tabNav.active {
    background: #80808059;
}
div.tab {
    padding: 0px;
    max-height: 0vh;
    transition: 0s;
    overflow: hidden;
}
div.tab.active {
    background: #80808059;

    transition: 0.5s;
    max-height: unset;
    padding: 10px;
    max-height: 100%;
}
